<button (click)="closeDialog()" class="close-btn"><fa-icon [icon]="faTimes"></fa-icon></button>
<ul class="rating-list">
  <li (click)="rateCourse(5)"><fa-icon [icon]="faStar" title="Rate 5"></fa-icon></li>
  <li (click)="rateCourse(4)"><fa-icon [icon]="faStar" title="Rate 4"></fa-icon></li>
  <li (click)="rateCourse(3)"><fa-icon [icon]="faStar" title="Rate 3"></fa-icon></li>
  <li (click)="rateCourse(2)"><fa-icon [icon]="faStar" title="Rate 2"></fa-icon></li>
  <li (click)="rateCourse(1)"><fa-icon [icon]="faStar" title="Rate 1"></fa-icon></li>
</ul>