.btn-table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
}

.btn-table td {
  padding: 5px;
}

.rating-list li {
  float: right;
  color: #ddd;
  padding: 10px 5px;
}

.rating-list li:hover,
.rating-list li:hover~li {
  color: var(--dark-colour);
  cursor: pointer;
}

.rating-list {
  display: inline-block;
  list-style: none;
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
}


.close-btn {
  float: right;
  font-size: 18px;
  background-color: transparent;
  border: none;
  color: var(--dark-colour);
}