.close-btn {
  float: right;
  font-size: 18px;
  background-color: transparent;
  border: none;
  color: var(--dark-colour);
}

.sub-btn {
  font-size: 20px;
  height: 50px;
  width: 100px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 20px;
}

.body-text {
  font-size: 20px;
}

.content {
  text-align: center;
}