<div class="container">
  <div class="people-list">
    <div class="row">
      <div class="col-md-12">
        <div class="people-card">
          <div class="card-cover"></div>
          <div class="card-info">
            <img src="{{ profileUser.avatar }}" alt="user" class="avatar">
            <div class="people-info">
              <ng-container *ngIf="profileUser.username !== user.username">
                <button class="pull-right btn friend-btn" (click)="this.sendFriendRequest(user._id, profileUser._id)"
                  *ngIf="!this.hasASentFriendRequest(profileUser._id) && !this.isFriend(profileUser._id)">Add
                  Friend&emsp;<fa-icon [icon]="faUserPlus"></fa-icon></button>
                <button class="pull-right btn friend-btn disabled-btn"
                  *ngIf="this.hasASentFriendRequest(profileUser._id)">Friend Request Sent&emsp;<fa-icon
                    [icon]="faUserClock"></fa-icon></button>
                <button (click)="this.openMessagesDialog(profileUser._id)" class="pull-right btn friend-btn"
                  *ngIf="this.isFriend(profileUser._id)">Send Message&emsp;<fa-icon
                    [icon]="faEnvelope"></fa-icon></button>
                <button class="pull-right btn friend-btn" (click)="this.deleteFriend(user._id, profileUser._id)"
                  *ngIf="this.isFriend(profileUser._id)">Remove Friend&emsp;<fa-icon
                    [icon]="faUserSlash"></fa-icon></button>
              </ng-container>
              <h5 class="profile-link">@{{ profileUser.username }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="profileUser.username !== user.username && !this.isFriend(profileUser._id)">
      <div class="row">
        <p class="add-msg"><fa-icon [icon]="faLock"></fa-icon>&emsp;Add @{{ profileUser.username }} as a friend to view
          their posts!</p>
      </div>
    </ng-container>
    <ng-container *ngIf="profileUser.username === user.username || this.isFriend(profileUser._id)">
      <div class="row" *ngFor="let post of posts">
        <div class="col-sm-12">
          <div class="card post">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-2">
                  <img class="profile-img" src="{{ post.user.avatar }}">
                  <p [routerLink]="['../people', post.user.username]" class="card-text username-text">
                    @{{ post.user.username }}
                  </p>
                </div>
                <div class="col-sm-9">
                  <h5 class="card-title">{{ post.title }}</h5>
                  <p class="card-text">
                    {{ post.body }}
                  </p>
                </div>
                <div class="col-sm-1">
                  <p class="card-text date-text">
                    {{ post.timestamp | date: 'd/M/yy' }}
                  </p>
                  <p class="card-text post-icon">
                    <fa-icon *ngIf="post.type === 1" [icon]="faPen"></fa-icon>
                    <fa-icon *ngIf="post.type === 2" [icon]="faGraduationCap"></fa-icon>
                    <fa-icon *ngIf="post.type === 3" [icon]="faTrophy"></fa-icon>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>